<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/semantic.js" %}"></script>
    <style>
        body{
            background-color: #1B1C1D;
        }
        .value{
            color: #ffffff;
        }
    </style>

</head>
<body>
  <div class="ui inverted segment">
  <div class="ui inverted statistic">
    <div class="value">
        {{ st }}張<br>
        {{ sr }}-->
        {{ se }}<br>
    </div>
      </div>

    <div class="label" style="font-size: x-large">
      {{ sw|safe }}
    </div>
  </div>



</body>
</html>